body,
html {
	background-color: var(--bg);
	color: white;

	margin: 0;

	--accent-color: rgb(219, 150, 22);
	--bg: #121212;
	--surface-1: #1a1a1a;
	--surface-2: #292929;
	--surface-3: #363636;
}

/* GENERAL */
.center {
	text-align: center;
}

.mobile-only {
	display: none;
}

.container {
	padding-right: 16rem;
	padding-left: 16rem;
}

.icon-btn {
	background-color: var(--surface-3);
	color: var(--accent-color);

	height: 40px;
	width: 40px;
	font-size: 25px;

	border-radius: 50%;
	border: none;

	text-align: center;
	vertical-align: center;
}

.icon-btn:hover {
	outline: 2px solid var(--accent-color);
	cursor: pointer;
}
/* GENERAL */

/* TODO LIST */
#todos {
	background-color: var(--surface-1);

	padding: 1rem;
	border-radius: 1rem;
	width: 100%;
	margin-bottom: 2rem;

	text-align: center;
}

#todo-list {
	padding: 0;
	border-radius: 1rem;
	width: 100%;

	margin: 0;

	list-style-type: none;
}

#no-todo-msg {
	display: none;
	font-size: 1.2rem;

	color: var(--accent-color);
}

.todo-entry {
	background-color: var(--surface-2);

	padding: 1rem 2rem 1rem 2rem;
	text-align: left;
}

.todo-entry:first-child {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.todo-entry:last-child {
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.todo-entry:not(:last-child) {
	border-bottom: 1px solid rgb(176, 176, 176);
}

.todo-entry .todo-del-btn {
	margin-right: 1rem;
}
/* TODO LIST */

/* TODO ADD FORM */
#todo-add-form {
	padding: 0 4rem 0 4rem;
	display: flex;
}

#todo-add-form .col-5 {
	width: 5%;
}

#todo-add-form #todo-content-textbox {
	color: white;
	background-color: var(--surface-2);

	height: 1rem;
	flex-shrink: 1;
	width: 95%;

	border: none;
	border-radius: 5px;
	padding: 1rem;
}

#todo-add-form #todo-content-textbox:hover {
	background-color: var(--surface-3);
}

#todo-add-form #todo-content-textbox:focus {
	outline: 2px solid var(--accent-color);
}

#todo-add-form #todo-add-btn {
	padding: 0;

	height: 3rem;
	width: 3rem;

	margin-left: 1rem;
}
/* TODO ADD FORM */